*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
body{
    font-size: 1.6rem;
    font-family: Inter var,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #1F2937;

}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#D1D5DB ;
}
.nav_container{
    padding: 52px 16px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 17px;
    font-weight:2400;
    color: #D1D5DB;
    background-color: #1F2937;
    margin: 0 auto;
}
nav button{
    border: none;
    background: conic-gradient(from 90deg at 50% 50%,#f25656 0deg,#fbd03b 80deg,#56c4f5 208deg,#c156c2 330deg,#f25656 1turn);
    color: black;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    outline: none;
    border-radius: 5px;
}
.left,  .middle ul{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;
}
.right ul{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 15px;
}
.right ul li i{
    font-size: 20px;
    font-weight: 200;
    
}
.dark_mode i{
    color: yellow;
}

.hero_section_container{
    background-color: #1F2937;
}
.hero_section{
    position: relative;
    top: 60px;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    color: white;
    height: 65vh;
    width: 1250px;
    margin: 0 auto;
    gap: 50px;
}
.left_hero{
    font-size: 35px;
    font-weight: 100;
   
}
.right_hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px;
}
.right_hero img{
   width: 476px;
   height: 517px;
   object-fit: cover;
    border-radius: 10px;
}
.lower_section_container{
    background-color: #111827;
    height: 50vh;
   
}
.lower_section{
    position: relative;
    top: 110px;
    margin: 0 auto;
    width: 1250px;
    font-size: 35px;
    font-weight: 100;
    padding: 50px;
    margin-bottom: 50px;
}
.h1_conatainer{
    width: 400px;
    color: #4B5563;
    text-align: center; 
   
}
footer{
    background-color: #111827;
}
.footer_container{
    width: 1100px;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer_content{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
   padding-bottom: 60px;
}
.border{
    margin-top: 60px;
    width: 1000px;
    border:1px solid #4B5563;
}
.footer_content h1{
    margin-top: 20px;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.footer_content button{
    border: none;
    background-color: #0EA5E9;
    color: white;
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.footer_content button:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

/* -----------------about section------------------------------ */

.about_hero_section_container{
    background-color: #1F2937;
    
}

.about_hero_section{
    position: relative;
    top: 32px;
    color: white;
     width: 1250px;
    height: 35vh;
    margin: 0 auto;
    padding: 80px 0px;
   
}
.about_hero_section h1{
    font-size: 140px;
    
}
.about_content_container{
    background-color: #111827;
    padding: 50px;
}
.about_content{
    width: 1250px;
    margin:  0 auto;
    color: white;
    display: flex;
    align-items: stretch;
    justify-content: center;
   gap: 30px;
}
.about_heading h1{
    font-size: 35px;
    font-weight: 500;
    width: 1250px;
    margin:  0 auto;
    color: white;
    margin-bottom: 70px;
    margin-top: 50px;
}
.right_about_content{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 10px
}
.left_about_content{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}
.left_about_content h2{
    color: #fff;
    font-weight: 600;
    line-height: 1.75rem;
    font-size: 28px;
    margin-bottom: 10px;
}
.left_about_content p{
    color: #D1D5DB;
    font-weight: 600;
    font-weight: 400;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.left_about_content ul li{
    color: #D1D5DB;
    font-weight: 600;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.right_about_content h2{
    color: #D1D5DB;
    font-weight: 600;
    font-weight: 400;
    font-size: 21px;
}
#mail ,#resume{
    border-bottom: 1px solid #D1D5DB;
    font-weight: 700;
}
.left_about_content span{
    /* border-bottom: 2px solid #D1D5DB;
    border-color: transparent; */
    display: inline-block;
    color: #D1D5DB;
    text-decoration: none;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.left_about_content span::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #D1D5DB;
    transition: width .3s;
}
.left_about_content span:hover::after{
    width: 100%;
}
